{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Notifications</h3>
             
          </div>
          
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center mb-0">
                      <thead>
                         <tr>
                            
                            <th>Message at</th>
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                      {% for i in notification %}
                         <tr>
                            <td>{{i.message}}</td>
                            <td class="text-right">
                               <div class="actions">
                                 {% if i.status == 0 %}
                                 <a href="{% url 'stud_notification_mark_done' status=i.id %}" class="btn btn-danger">Mark as Done </a>
                                 {% else %}
                                 <button class="btn btn-danger" disabled="disable">Mark as Done</button>
                                   {% endif %}
                               </div>
                            </td>
                         </tr>
                       {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}