{% load active_link_tags %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner">
        <div id="sidebar-menu" class="sidebar-menu">
            {% if user.user_type == '1' %}
                  <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                     </li>
                     <li>
                        <li class="{% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user-graduate"></i> <span> Students </span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'add_student' %}">Add Student</a></li>
        <li><a href="{% url 'view_student' %}">View Student</a></li>
    </ul>
</li>
                    <li class="{% active_link 'add_staff' 'active' %} {% active_link 'view_staff' 'active' %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user-graduate"></i> <span> Staff </span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
        <li><a href="{% url 'view_staff' %}">View Staff</a></li>
    </ul>
</li>
                      <li class="{% active_link 'add_course' 'active' %} {% active_link 'view_course' 'active' %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user-graduate"></i> <span> Course </span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'add_course' %}">Add Course</a></li>
        <li><a href="{% url 'view_course' %}">View Course</a></li>
    </ul>
</li>
                      <li class="{% active_link 'add_subject' 'active' %} {% active_link 'view_subject' 'active' %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user-graduate"></i> <span> Subjects</span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
        <li><a href="{%url 'view_subject' %}">View Subject</a></li>
    </ul>
</li>
                      <li class="{% active_link 'add_session' 'active' %} {% active_link 'view_session' 'active' %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user-graduate"></i> <span> Session</span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'add_session' %}">Add Session </a></li>
        <li><a href="{% url 'view_session' %}">View Session</a></li>
    </ul>
</li>
                       <li>
                        <a href="{% url 'staff_notification' %}"><i class="fas fa-bell"></i> <span>Send Staff Notification</span></a>
                     </li>
                       <li>
                        <a href="{% url 'student_send_notification' %}"><i class="fas fa-bell"></i> <span>Send Student Notification</span></a>
                      <li>
                        <a href="{% url 'view_attendance' %}"><i class="fas fa-holly-berry"></i> <span>View Attendance</span></a>
                     </li>
                      <li>
                        <a href="{% url 'staff_feed' %}"><i class="fas fa-holly-berry"></i> <span>Staff Feedback</span></a>
                     </li>
                      <li>
                        <a href="{% url 'get_student_feed' %}"><i class="fas fa-holly-berry"></i> <span>Student Feeback</span></a>
                     </li>
                      <li>
                        <a href="{% url 'staff_leave_view' %}"><i class="fas fa-holly-berry"></i> <span>Staff Leave</span></a>
                     </li>
                      <li>
                        <a href="{% url 'get_student_leave_view' %}"><i class="fas fa-holly-berry"></i> <span>Student Leave</span></a>
                     </li>
                      <li>
                        <a href="{% url 'Logout' %}"><i class="fas fa-holly-berry"></i> <span>Logout</span></a>
                     </li>
                  </ul>
            {% elif user.user_type == '2' %}
              <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>
                     <li class="{% active_link 'staff_home' 'active' %}">
                        <a href="{% url 'staff_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                     </li>
                     <li class="{% active_link 'take_attendance' 'active' %}">
                        <a href="{% url 'take_attendance' %}"><i class="fas fa-holly-berry"></i> <span>Take Attendance</span></a>
                     </li>
                   <li class="{% active_link 'staff_view_attendance' %}">
                        <a href="{% url 'staff_view_attendance' %}"><i class="fas fa-holly-berry"></i> <span>View/Update Attendance</span></a>
                     </li>
                     <li class=="{% active_link 'staff_feedback' 'active' %"}>
                        <a href="{% url 'staff_feedback' %}"><i class="fas fa-holly-berry"></i> <span>Send FeedBack</span></a>
                     </li>
                   <li class="{% active_link 'staff_apply_leave' 'active' %}">
                        <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-holly-berry"></i> <span>Apply For Leave</span></a>
                     </li>
                   <li class="{% active_link 'staff_add_result' 'active' %}">
                        <a href="{% url 'staff_add_result' %}"><i class="fas fa-holly-berry"></i> <span>Add Result</span></a>
                     </li>
                     <li class="{% active_link 'notifications' 'active' %}">
                        <a href="{% url 'notifications' %}">
                            <i class="fas fa-bell"></i> <span>Notifications</span>
                        </a>
                    </li>
                  <li><i class=""></i>
                      <a href="{% url 'Logout' %}"><i class="fas fa-sign-out-alt"></i><span> Logout</span></a>
                  </li>
              </ul>
            {% else %}
            <ul>
                <li class="menu-title">
                   <span>Main Menu</span>
                </li>
                <li class="{% active_link 'student_dashboard' 'active' %}">
                   <a href="{% url 'student_dashboard' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li class="{% active_link 'student_view_attendance' 'active' %}">
                    <a href="{% url 'student_view_attendance' %}"><i class="fa fa-poll " aria-hidden="true"></i><span>View Attendance</span></a>
                </li>
                <li class="{% active_link 'view_result' 'active' %">
                    <a href="{% url 'view_result' %}"><i class="fa fa-calendar" aria-hidden="true"></i><span>View Result</span></a>
                </li>
                <li class="">
                    <a href="{% url 'student_apply_leave' %}"><i class="fa fa-pray" aria-hidden="true"></i><span>Apply For Leave</span></a>
                </li>
                <li class="">
                    <a href="{% url 'student_feedback' %}"><i class="fas fa-comment" aria-hidden="true"></i><span>Send Feedback</span></a>
                </li>
                <li class="">
                    <a href="{% url 'stud_notification' %}"><i class="fas fa-bell" aria-hidden="true"></i><span>View Notifications</span></a>
                </li>
                <li><i class=""></i>
                    <a href="{% url 'Logout' %}"><i class="fas fa-sign-out-alt"></i><span> Logout</span></a>
                </li>
</ul>     
            {% endif %}
               </div>
            </div>
         </div>